<%provide(:title, "Index")  %>
<div class="center jumbotron">
  <h1>Todo App</h1>

  <h3>
    これはタスクを管理するTodoAppです。<br>
    Ruby on Railsの学習内容をアウトプットする目的で開発しました。
  </h3>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">タスク名</th>
      <th scope="col">状況</th>
      <th scope="col">期日</th>
    </tr>
  </thead>
  <tbody>
    <%@tasks.each_with_index do |task, i|%>
        <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= task.title %></td>
            <td><%= task.status %></td>
            <td><%= task.deadline %></td>
        </tr>
    <%end%>
  </tbody>
</table>